/*  your css code here. If applicable */
body {
	padding : 0;
	margin : 0;
}


#animal-photos {
	text-align : center;
	background-color : #444444;
}

#photo-heading {
	text-transform: uppercase;
}

.grid {
	display : grid;
	grid-template-columns : auto auto auto;
	justify-content : space-evenly;
}

.grid img {
	margin : 10px;
	border-radius : 10px;
	width: 250px;
	height: auto;
}


