/*  your css code here. If applicable */
body {
	/* background-color: black; */
	padding : 0;
	margin : 0;
}


.animal-photos {
	text-align : center;
	background-color : #444444;
}

#photo-heading {
	text-transform: uppercase;
}

.grid {
	display : grid;
	grid-template-columns : auto auto auto;
	justify-content : space-evenly;
}

img {
	margin : 10px;
}

/* .photos {
	height : 100px;
	width  : 100px;
	background-color :white;
	margin : 10px;
} */


